/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 5, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 6, ../sass/screen.scss */
h3 {
  font-size: 1.17em;
}

/* line 7, ../sass/screen.scss */
h4 {
  font-size: 1.12em;
}

/* line 8, ../sass/screen.scss */
h5 {
  font-size: .83em;
}

/* line 9, ../sass/screen.scss */
h6 {
  font-size: .75em;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: arial;
}

/* CLEARFIX */
/* line 16, ../sass/screen.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 25, ../sass/screen.scss */
.single_content p {
  font-size: 18px;
  margin: 20px 0;
}
/* line 29, ../sass/screen.scss */
.single_content ul {
  display: inline;
  padding: 0;
}

/* line 35, ../sass/screen.scss */
p.single_category {
  font-size: 14px;
  display: inline;
}

/* line 40, ../sass/screen.scss */
.read-more {
  background: #eee;
  display: block;
  float: right;
  margin: 15px 10px 15px 0px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

/* line 50, ../sass/screen.scss */
.title_single {
  border-bottom: 1px solid #333;
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* line 58, ../sass/screen.scss */
.comments-main {
  margin: 80px 0px;
}

/* line 62, ../sass/screen.scss */
.pagination {
  padding: 50px 0;
  width: 100%;
}

/* line 67, ../sass/screen.scss */
.nav-previous {
  text-align: right;
}

/* line 71, ../sass/screen.scss */
.pager-link {
  float: left;
  width: 50%;
}

/* line 76, ../sass/screen.scss */
.pager-link a {
  background: #ccc;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
}

/* line 83, ../sass/screen.scss */
.wp-post-image {
  height: 140px;
  width: 200px;
}

/* line 89, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 94, ../sass/screen.scss */
header {
  padding: 10px 0;
  position: relative;
}
/* line 97, ../sass/screen.scss */
header a {
  margin-right: 5px;
}

/* line 102, ../sass/screen.scss */
.hero-unit {
  background: url("../../images/rock.jpg") no-repeat center center;
  background-size: cover;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 60px 0;
  position: relative;
  text-align: center;
}
/* line 110, ../sass/screen.scss */
.hero-unit h2 {
  color: #fff;
  z-index: 10;
}
/* line 114, ../sass/screen.scss */
.hero-unit form label {
  color: #fff;
}

/* line 119, ../sass/screen.scss */
.hero-inner {
  position: relative;
  z-index: 100;
}

/* line 124, ../sass/screen.scss */
.hero-unit:after {
  content: '';
  background: rgba(51, 51, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 134, ../sass/screen.scss */
.learn-nav {
  border-bottom: 2px solid #333;
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
}

/* line 141, ../sass/screen.scss */
.learn-nav a {
  margin-right: 15px;
}

/* line 145, ../sass/screen.scss */
ul, li {
  list-style: none;
  margin: 0;
}

/* line 150, ../sass/screen.scss */
li {
  display: inline;
}

/* line 154, ../sass/screen.scss */
.single-blog {
  line-height: 1em;
  height: 350px;
  float: left;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  position: relative;
  margin: 40px auto;
  width: 33.3%;
}
/* line 164, ../sass/screen.scss */
.single-blog aside {
  border-bottom: 1px solid #333;
  height: 350px;
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 450px) {
  /* line 154, ../sass/screen.scss */
  .single-blog {
    width: 100%;
  }
}

/* line 175, ../sass/screen.scss */
.single-blog .excerpt + p {
  margin: 0 auto;
  text-align: left;
  width: 60%;
}

/* line 181, ../sass/screen.scss */
.single-blog-title {
  height: 60px;
  margin: 0 auto;
  width: 250px;
}
/* line 185, ../sass/screen.scss */
.single-blog-title a {
  color: #333;
  text-transform: uppercase;
}

/* line 192, ../sass/screen.scss */
.sidebar_widget ul {
  padding: 0;
}
/* line 195, ../sass/screen.scss */
.sidebar_widget a {
  border-bottom: 1px solid #333;
  float: right;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 203, ../sass/screen.scss */
.widget_recent_entries .widgettitle {
  display: none;
}

/* line 207, ../sass/screen.scss */
footer {
  border-top: 2px solid #333;
  height: 20px;
  padding: 35px 10px;
}
/* line 211, ../sass/screen.scss */
footer menu {
  padding: 0;
}
